<% if object.errors.any? %>
  <div class="alert alert-block alert-error">
    <a href="javascript:void(0);" class="close" data-dismiss="alert">&times;</a>
    <h3 class='alert-heading'>
      <%= pluralize(object.errors.count, "error") %> prohibited this
      <%= object.class.to_s.underscore.humanize.downcase %> from being saved:
    </h3>
    <p>There were problems with the following fields:</p>
    <ul>
      <% object.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>